Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed, in a comma-separated sequence on a single line.

In [1]:
return_value = []
for e in range (2000, 3200):
  if (e %7==0) and (e % 5==0):
    return_value.append(str(e))
  
print(",".join(return_value))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [4]:
Name =  input("Enter your name ")
print(Name[::-1])

Enter your name Mohit Garg
graG tihoM

Write a Python program to find the volume of a sphere with diameter 12 cm. V=4/3 * Ï€ * r3

In [3]:
r = 12
volume = 4/3 * 22/7 * r**3
print (" Volume -> {:.2f}".format(volume))

 Volume -> 7241.14